{% load static %}
<html>
  <head>
    <title>Django blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <header>
        <h1><a href="{% url 'home' %}">Django Blog & To-Do List</a></h1>
          <h2>Add /tasks after the URL to access the To Do List app (I couldnt add a link to another app)</h2>
    </header>
    <div>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>