<h3>Things I need to do</h3>

<form method="POST" action="/tasks/">
    {% csrf_token %}   <!-- this has to be added. was getting 403 error until this got added, dont touch-->
    {{form.title}}
    <input type="submit" name="Create Task">
</form>

{%  for task in tasks %}
    <div>
        <a href="{% url 'taskupdate' task.id %}">Update</a>
        <a href="{% url 'taskdelete' task.id %}">Remove</a>

        {% if task.complete == True %}
        <strike>{{task}}</strike>
        {% else %}
        <span>{{task}}</span>
    {% endif %}
    </div>
{% endfor %}